.list {
    &__item {
        margin-left: 32px;
        list-style: none;
        position: relative;

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        &::before {
            content: "\ea02";
            font: normal normal normal 32px "Icon";
            position: absolute;
            right: 100%;
            color: $blue-60;
        }
    }
}
