<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/css/main.min.css">
  <link rel="icon" href="/media/favicons/favicon.ico">
  <title>{% if entry.metaPageTitle %} {{ entry.metaPageTitle }} | KR Consulting  {% else %} KR Consulting {% endif %}</title>
  <meta name="description" content="{{ entry.metaPageDescription }}">
</head>

<body class="body page page--dark js-page {% if id is defined %} page__{{id}} {% endif %}">
    {% block main %} {% endblock %} 
  <script src="/js/main.build.js"></script>
</body>

</html>