<div class="location-card">
    <div class="location-card__background"></div>
    <img class="location-card__image" src="/media/images/various/office.webp" alt="Standord"/>
    <div class="location-card__content content">
        {{> @heading class="content__label" type="h5" content="Standort" }}
        {{> @heading class="content__headgin" type="h3" content="Enterprose Business Center Sursee" }}
        <div class="content__address address">
            {{> @paragraph class="address__item" content="Surenthalerstrasse 10" color="black" }}
            {{> @paragraph class="address__item" content="6210 Sursee" color="black" }}
        </div>
        {{> @button class="content__button" content="Route hierhin" color="blue" }}
    </div>
</div>
