{{#>@section id="hero" js="false" tag="div" }}
    <div class="desktop-navigation__background background">
        <img class="background__image" src="/media/images/various/meeting.webp" alt="Meeting"/>
        <div class="background__overlay"></div>
    </div>
    <img class="hero__symbol" src="/media/graphics/logos/logo-kr-consulting-symbol-dark.svg"/>
    <div class="hero__content content">
        {{> @heading class="content__heading" type="h1" color="white" content="Individuelle Anlagelösungen für Ihre finanzielle Sicherheit" }}
        {{> @button class="content__button" content="Mehr erfahren" color="white" }}
    </div>
{{/@section}}
