.hero {
	position: relative;
	height: 100%;
	
	&__inner  {
		display: flex; 
		min-height: 100vh;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		height: 100%;
		
	}

	&__background, .background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -10;
        
        &__image {
            position: absolute; 
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        
        &__overlay {
            position: absolute; 
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            background: $blue-gradient;
        }

	} 

	&__symbol {
		position: absolute; 
		right: 96px;
		height: calc(100% + 104px);
		z-index: -5;
	}

	&__content, .content {

		&__heading {
			margin-bottom: 32px;
		}

		&__button {
			margin-left: 180px;
		}
	}

}