.statement {
	background-color: $grey-20;
	overflow: visible;

	&__inner {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}

	&__symbol {
		position: absolute;
		top: 64px;
		left: -320px;
		height: 175%;
		opacity: 0.5;
	}

	&__quote {
		max-width: 880px;
		padding: 96px;
		padding-left: 160px;
		position: relative;
	}

	@media (max-width: 1200px) {

		&__quote {
			padding-left: 48px;
		}

	}

	@media (max-width: 950px) {

		&__quote {
			padding-left: 0;
			padding-left: 0;
		}

	}




	@media (max-width: 550px) {

		&__symbol {
			display: none;
		}

		&__quote {
			padding: 64px 0;
		}

	}

}