<section class="statement section">
	<div class="statement__inner section__inner">
		
		<img class="statement__symbol" src="/media/graphics/logos/logo-kr-consulting-symbol-dark.svg" alt="">
		{{> @quote class="statement__quote" }}

	</div>
</section>