{{#>@section id="page-not-found" js="false" tag="section" }}
    <div class="page-not-found__background background">
      	<img class="background__image" src="/media/images/heros/calculator.webp" alt="Meeting" >
        <div class="background__overlay"></div>
	</div>
	<div class="page-not-found__content content">
        {{> @heading class="content__heading" type="h3" color="blue" content="404" }}
		{{> @button class="content__button" content="Zur Homepage" color="white"}}
	</div>
{{/@section}}