<section class="contact section">
	<div class="contact__inner section__inner">
		
		  {{> @heading class="contact__header" type="h2" color="black" content="Kontaktieren Sie uns oder vereinbaren Sie einen Termin" }}
			{{> @contact-form class="contact__contact-form" }}
			<div class="contact__infos infos">
				<address class="infos__address address">
						{{> @heading class="address__heading" type="h5" content="Adresse" }}
						{{> @paragraph class="address__item" content="Surenthalerstrasse 10" }}
						{{> @paragraph class="address__item" content="6210 Sursee" }}
				</address>
				<div class="infos__contact contact">
						{{> @heading class="contact__heading" type="h5" content="Kontakt" }}
						{{> @link class="contact__link" content="kretz@krconsulting.com" href="mailto:kretz@krconsulting.ch" }}
						{{> @link class="contact__link" content="+41 79 302 63 29" href="tel:+41793026329" }}
				</div>
			</div>
			<i class="contact__close-icon icon icon--close"></i>
	</div>
</section>