.contact {
	position: relative;
	
	&__inner {
		position: fixed;
		top: 0; 
		right: 0;
		bottom: 0;
		left: 0;
		overflow-y: scroll;
		display: grid;
		grid-template-areas: 
			"header ."
			"contact-form infos";
		grid-template-columns: 1fr auto;
		grid-template-rows: auto auto;
		grid-gap: 64px;
		padding: 120px;
	}

	&__header {
		grid-area: header;
	}

	&__contact-form {
		grid-area: contact-form;
	}

	&__infos, .infos {
		grid-area: infos;

		&__contact, .contact {
            
			&__heading {
					display: block;
					color: $blue-100;
					margin-bottom: 8px;
			}

			&__link {
					display: block;
					color: $blue-100;
			}

	}

	&__address, .address {
		margin-bottom: 32px;

		
		&__heading {
			display: block;
			color: $blue-100;
			margin-bottom: 8px;
		}
		
		&__item {
			display: block;
			color: $blue-100;
		}

}


	}

	&__close-icon {
		position: absolute; 
		top: 120px;
		right: 120px;	
		font-size: 64px;
	}

	@media (max-width: 950px) {

		&__inner {
			display: grid;
			grid-template-areas: 
				"header"
				"contact-form"
				"infos";
			grid-template-columns: 1fr;
			grid-template-rows: auto auto auto;
		}	

		&__close-icon {
			top: 48px;
			right: 48px;

		}
		
	}

}