.page {
	background-color: $white;
	position: relative;

	&--light {
		& .desktop-navigation {
			background-color: $white;
			position: static;
			padding-bottom: 95px;

			&__link {
				color: $blue-80;
			}

			&__partnerlogin {
				color: $blue-80;
			}
		}

		& .mobile-navigation {
			padding-bottom: 120px;

			&__bar {
				background-color: $blue-80 !important;
			}
		}
	}
}
