.external-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: $blue-40;

    &--blue { 
        color: $blue-40;
        &__icon { color: $blue-40; }
     }

	&--white { 
        color: $white; 
        &__icon { color: $white; }
    }

    &__icon { 
        transform: rotate(315deg);
        color: $blue-40;
        margin-left: 8px;
     }
}