<section class="teaser section">
    <div class="teaser__inner section__inner">

        <img class="teaser__symbol" src="/media/graphics/logos/logo-kr-consulting-symbol-light.svg" />
        <div class="teaser__content">
            {{> @heading class="content__heading" type="h3" color="white" content="Ihnen eine bessere finanzielle Zukunft zu ermöglichen, ist unser Ziel." }}
            {{> @button class="content__button" color="white" content="Vorsorgelösungen" }}
        </div>
        <img class="teaser__image" src="/media/images/various/brainstorming.webp" alt="Person" />

    </div>
</section>
    