{{#>@section id="teaser" js="false" tag="section" }}
    <img class="teaser__symbol" src="/media/graphics/logos/logo-kr-consulting-symbol-gradient.svg"/>
    <div class="teaser__content">
        {{> @heading class="content__heading" type="h3" color="white" content="Vorsorgelösungen" }}
        {{> @paragraph class="content__text" color="white" content="Mehr als eine Versicherung. Die optimale Personalvorsorge ist heute ein gewichtiges Argument bei der Rekrutierung qualifizierter Mitarbeiter. Gerne beraten und begleiten wir Sie auf dem Weg zur individuellen Lösung im Bereich der beruflichen Vorsorge." }}
        {{> @button class="content__button" color="white" content="Vorsorgelösungen" }}
    </div>
    <img class="teaser__image" src="/media/images/various/brainstorming.webp" alt="Person"/>
{{/@section}}
