.teaser {
    position: relative;
    background-color: $blue-80;

    &__inner {
        &--center {
            padding-right: 0 !important;
            padding-top: 96px;
            display: grid;
            grid-template-columns: 1fr 600px;
            grid-template-rows: auto;
            grid-gap: 96px;
        }
    }

    &__symbol {
        position: absolute;
        height: 125%;
        bottom: 0;
        right: 5%;
    }

    &__content,
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        z-index: 5;

        &__heading {
            max-width: 680px;
            margin-bottom: 32px;
        }

        &__text {
            max-width: 680px;
            margin-bottom: 64px;
        }

        &__button {
            margin-left: 160px;
        }
    }

    &__image,
    .image {
        width: 640px;
        margin-top: 64px;
        height: auto;
        height: 400px;
        display: block;
        object-fit: cover;
        max-width: 100%;
    }

    @media (max-width: 1250px) {
        &__inner {
            &--center {
                padding-right: 0 !important;
                padding-top: 96px;
                display: grid;
                grid-template-columns: 1fr 400px;
                grid-template-rows: auto;
                grid-gap: 96px;
            }
        }

        &__image,
        .image {
            width: 400px;
        }

    }

    @media (max-width: 1050px) {
        &__symbol {
            position: absolute;
            height: 125%;
            bottom: 0;
            right: -35%;
        }
    }

    @media (max-width: 950px) {
        &__inner {
            padding-bottom: 96px;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
            grid-gap: 96px;

            &--center {
                padding-right: 64px !important;
            }
        }

        &__content,
        .content {
            &__button {
                margin-left: 80px;
                margin-bottom: 64px;
            }
        }

        &__symbol {
            right: -25%;
        }

        &__image {
            display: none;
        }
    }

    @media (max-width: 750px) {
        &__content,
        .content {
            &__button {
                margin-left: 0;
            }
        }
        &__symbol {
            display: none;
        }
    }

    @media (max-width: 650px) {
        &__inner {
            &--center {
                padding-right: 32px !important;
            }
        }
    }
}
