{{#>@section id="message-modal" js="true" tag="section" }}
    {{> @heading class="message-modal__header" type="h2" color="black" content="Kontaktieren Sie uns oder vereinbaren Sie einen Termin" }}
    <form class="message-modal__contact-form contact-form">
        <span class="contact-form__input-text-wrapper">
            {{> @input-text class="contact-form__input-text contact-form__input-text--lastname" label="Nachname*" error-text="Bitte geben Sie Ihren Namen an" }}
            {{> @input-text class="contact-form__input-text contact-form__input-text--firstname" label="Vorame*" error-text="Bitte geben Sie Ihren Namen an" }}
            {{> @input-text class="contact-form__input-text contact-form__input-text--email" label="E-Mail*" error-text="Bitte geben Sie eine g체ltige E-Mail-Adresse an" }}
            {{> @input-text class="contact-form__input-text contact-form__input-text--phone" label="Telefon" }}
            {{> @input-text class="contact-form__input-text contact-form__input-text--company" label="Firma" }}
            {{> @input-date class="contact-form__input-date contact-form__input-date--date" label="Wunschtermin" }}
        </span>
        {{> @input-checkbox class="contact-form__input-checkbox" label="Ich interessiere mich f체r eine Schulung" id="course" }}
        {{> @input-textarea class="contact-form__input-textarea contact-form__input-textarea--message" label="Erz채hlen Sie uns vobn Ihrem Projekt*" error-text="Bitte verfassen Sie eine Nachricht" }}
        <span class="contact-form__disclaimer disclaimer">
            <p class="disclaimer__text">
                * Mit dem Senden sind Sie mit unserer
                <a class="disclaimer__link">Datenschutzerkl채rung</a>
                einverstanden.
            </p>
        </span>
        {{> @button class="contact-form__input-submit" content="Senden" color="blue" }}
        <div class="contact-form__status-message status-message">
            <p class="status-message__item status-message__item--success">Ihre Nachricht wurde versendet.</p>
            <p class="status-message__item status-message__item--error">Ein Fehler ist aufgetreten - die Nachricht konnte nicht gesendet werden.</p>
        </div>
    </form>
    <div class="message-modal__infos infos">
        <address class="infos__address address">
            {{> @heading class="address__heading" type="h5" content="Adresse" }}
            {{> @paragraph class="address__item" content="Surenthalerstrasse 10" }}
            {{> @paragraph class="address__item" content="6210 Sursee" }}
        </address>
        <div class="infos__connection connection">
            {{> @heading class="connection__heading" type="h5" content="Kontakt" }}
            {{> @link class="connection__link" content="kretz@krconsulting.com" href="mailto:kretz@krconsulting.ch" }}
            {{> @link class="connection__link" content="+41 79 302 63 29" href="tel:+41793026329" }}
        </div>
    </div>
    <i class="message-modal__close-icon icon icon--close"></i>
{{/@section}}
