{{#>@section id="responsibles" js="false" tag="section" }}
    {{> @heading class="responsibles__heading" type="h1" content="Impressum" }}
    <div class="responsibles__content">
        <address class="responsibles__address address">
            {{> @paragraph class="address__header" style="bold" content="KR Consulting GmbH" }}
            {{> @paragraph class="address__item" content="Surenthalstrassee 10" }}
            {{> @paragraph class="address__item" content="6210 Sursee" }}
            {{> @paragraph class="address__item" content="Schweiz" }}
            {{> @link class="address__item" content="kretz@krconsulting.ch" }}
        </address>
        <div class="responsibles__commercial-register commercial-register">
            {{> @paragraph class="commercial-register__item" content="UID: CHE-335.070.267" }}
            {{> @paragraph class="commercial-register__item" content="Handelsregister-Nummer: CH-100-4809660-0" }}
        </div>
        <div class="responsibles__supervision supervision">
            {{> @paragraph class="supervisison__item" content="Eidgenössische Finanzmarktaufsicht FINMA Register Nr. 12’471, Registereintrag für unabhängige Versicherungsvermittlung" }}
        </div>
    </div>
{{/@section}}
