.responsibles {

    &__heading {
        margin-bottom: 48px;
    }
    
    &__content {
        margin-left: 120px;
        margin-bottom: 120px;
        max-width: 520px;
    }

    &__address {
        margin-bottom: 32px;
    }

    &__commercial-register {
        margin-bottom: 32px;

    }

}