
{% extends "04_layouts/page/dark" %}

{% block main %}

<section class="heroine section  js-heroine ">
    <div class="heroine__inner heroine__inner--left section__inner section__inner--right"></div>
    <div class="heroine__inner heroine__inner--center section__inner section__inner--center">

        <div class="heroine__background background">
            <img class="background__image" src="/media/images/heros/pen.webp" alt="Meeting">
            <div class="background__overlay"></div>
        </div>

        <div class="heroine__content content">
            <h1 class="heading  heading--h2   heading--white  content__heading js-heading">
                Anlageberatungen
            </h1>
            <div class="content__paragraph paragraph">
                <i class="paragraph__icon icon icon--kr-symbol"></i>
                <p class="paragraph__text">Für viele Arbeitnehmende ist die zweite Säule der Eckpfeiler ihrer Altersvorsorge. Die Pensionskasse sorgt dafür, dass sie auch im Alter auf den gewohnten Lebensstandard zählen können. Bereits eine minimale Veränderung des Zinsniveaus kann zu einer wesentlichen Erhöhung der Rentenleistung nach der Pensionierung führen.</p>
            </div>
        </div>

    </div>
    <div class="heroine__inner heroine__inner--right section__inner section__inner--left"></div>
</section>
<section class="services section  js-services ">
    <div class="services__inner services__inner--left section__inner section__inner--right"></div>
    <div class="services__inner services__inner--center section__inner section__inner--center">

        <div class="services__sidepanel sidepanel">
            <nav class="sub-navigation sidepanel__sub-navigation ">
                <a class="sub-navigation__item" href="./#klassische-anlagen">Klassische Anlagen</a>
                <a class="sub-navigation__item" href="./#zweitmarkt-policen">Zweitmarkt-Policen</a>
                <a class="sub-navigation__item" href="./#immobilien">Immobilien</a>
                <a class="sub-navigation__item" href="./#digital-assets">Digital Assets</a>
            </nav>
        </div>

        <div class="services__content content">
            <div class="content__item item">
                <div class="article " id="klassische-anlagen">
                    <img class="article__image" src="/media/images/services/classic-investments.webp" alt="">
                    <div class="article__content">
                        <h2 class="heading  heading--h2   article__heading js-heading">
                            Klassische Anlagen
                        </h2>
                        <p class="paragraph  paragraph--blue   paragraph--bold  article__subheading">
                            Traditionell &amp; bewährt
                        </p>
                        <p class="paragraph  paragraph--black   article__text">
                            Wir bieten eine umfassende Anlageberatung, die auf Ihre Bedürfnisse, Wünsche und Lebensziele zugeschnitten ist. Gemeinsam mit unserem langjährigen Partner beraten wir Sie aktiv und weitsichtig, damit Sie Marktchancen für sich nutzen und zielgerichtet investieren können. Dabei steht ein überschaubares Risiko mithilfe einer klassischen Portfoliodiversifikation im Vordergrund. Ganz dem Zeitgeist entsprechend bieten wir auch nachhaltige Geldanlagen an, die Mehrwert für Wirtschaft, Gesellschaft und Umwelt schaffen. Übrigens, Anlegen ist bei uns bereits ab 50 Franken im Monat möglich. Wir freuen uns Sie, Ihre Bedürfnisse und Träume bei einem persönlichen Gespräch kennenzulernen.
                        </p>
                        <p class="paragraph  paragraph--black   paragraph--bold  article__outro">
                            Wir freuen uns Sie, Ihre Bedürfnisse und Träume bei einem persönlichen Gespräch kennenzulernen.
                        </p>
                    </div>
                </div>
            </div>
            <div class="content__item item">\
                <div class="article " id="zweitmarkt-policen">
                    <img class="article__image" src="/media/images/services/classic-investments.webp" alt="">
                    <div class="article__content">
                        <h2 class="heading  heading--h2   article__heading js-heading">
                            Klassische Anlagen
                        </h2>
                        <p class="paragraph  paragraph--blue   paragraph--bold  article__subheading">
                            Traditionell &amp; bewährt
                        </p>
                        <p class="paragraph  paragraph--black   article__text">
                            Wir bieten eine umfassende Anlageberatung, die auf Ihre Bedürfnisse, Wünsche und Lebensziele zugeschnitten ist. Gemeinsam mit unserem langjährigen Partner beraten wir Sie aktiv und weitsichtig, damit Sie Marktchancen für sich nutzen und zielgerichtet investieren können. Dabei steht ein überschaubares Risiko mithilfe einer klassischen Portfoliodiversifikation im Vordergrund. Ganz dem Zeitgeist entsprechend bieten wir auch nachhaltige Geldanlagen an, die Mehrwert für Wirtschaft, Gesellschaft und Umwelt schaffen. Übrigens, Anlegen ist bei uns bereits ab 50 Franken im Monat möglich. Wir freuen uns Sie, Ihre Bedürfnisse und Träume bei einem persönlichen Gespräch kennenzulernen.
                        </p>
                        <p class="paragraph  paragraph--black   paragraph--bold  article__outro">
                            Wir freuen uns Sie, Ihre Bedürfnisse und Träume bei einem persönlichen Gespräch kennenzulernen.
                        </p>
                    </div>
                </div>
            </div>
            <div class="content__item item">\
                <div class="article " id="immobilien">
                    <img class="article__image" src="/media/images/services/classic-investments.webp" alt="">
                    <div class="article__content">
                        <h2 class="heading  heading--h2   article__heading js-heading">
                            Klassische Anlagen
                        </h2>
                        <p class="paragraph  paragraph--blue   paragraph--bold  article__subheading">
                            Traditionell &amp; bewährt
                        </p>
                        <p class="paragraph  paragraph--black   article__text">
                            Wir bieten eine umfassende Anlageberatung, die auf Ihre Bedürfnisse, Wünsche und Lebensziele zugeschnitten ist. Gemeinsam mit unserem langjährigen Partner beraten wir Sie aktiv und weitsichtig, damit Sie Marktchancen für sich nutzen und zielgerichtet investieren können. Dabei steht ein überschaubares Risiko mithilfe einer klassischen Portfoliodiversifikation im Vordergrund. Ganz dem Zeitgeist entsprechend bieten wir auch nachhaltige Geldanlagen an, die Mehrwert für Wirtschaft, Gesellschaft und Umwelt schaffen. Übrigens, Anlegen ist bei uns bereits ab 50 Franken im Monat möglich. Wir freuen uns Sie, Ihre Bedürfnisse und Träume bei einem persönlichen Gespräch kennenzulernen.
                        </p>
                        <p class="paragraph  paragraph--black   paragraph--bold  article__outro">
                            Wir freuen uns Sie, Ihre Bedürfnisse und Träume bei einem persönlichen Gespräch kennenzulernen.
                        </p>
                    </div>
                </div>
            </div>
            <div class="content__item item">\
                <div class="article " id="digital-assets">
                    <img class="article__image" src="/media/images/services/classic-investments.webp" alt="">
                    <div class="article__content">
                        <h2 class="heading  heading--h2   article__heading js-heading">
                            Klassische Anlagen
                        </h2>
                        <p class="paragraph  paragraph--blue   paragraph--bold  article__subheading">
                            Traditionell &amp; bewährt
                        </p>
                        <p class="paragraph  paragraph--black   article__text">
                            Wir bieten eine umfassende Anlageberatung, die auf Ihre Bedürfnisse, Wünsche und Lebensziele zugeschnitten ist. Gemeinsam mit unserem langjährigen Partner beraten wir Sie aktiv und weitsichtig, damit Sie Marktchancen für sich nutzen und zielgerichtet investieren können. Dabei steht ein überschaubares Risiko mithilfe einer klassischen Portfoliodiversifikation im Vordergrund. Ganz dem Zeitgeist entsprechend bieten wir auch nachhaltige Geldanlagen an, die Mehrwert für Wirtschaft, Gesellschaft und Umwelt schaffen. Übrigens, Anlegen ist bei uns bereits ab 50 Franken im Monat möglich. Wir freuen uns Sie, Ihre Bedürfnisse und Träume bei einem persönlichen Gespräch kennenzulernen.
                        </p>
                        <p class="paragraph  paragraph--black   paragraph--bold  article__outro">
                            Wir freuen uns Sie, Ihre Bedürfnisse und Träume bei einem persönlichen Gespräch kennenzulernen.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="services__inner services__inner--right section__inner section__inner--left"></div>
</section>
<section class="cta section  js-cta ">
    <div class="cta__inner cta__inner--left section__inner section__inner--right"></div>
    <div class="cta__inner cta__inner--center section__inner section__inner--center">
        <div class="cta__background"></div>
        <div class="cta__content content">
            <div class="content__overlay"></div>
            <img class="content__image" src="/media/images/various/desk.webp" alt="Desk" />
            <h2 class="heading  heading--h2   heading--white  content__heading js-heading">
                Jetzt unverbindlichen Termin vereinbaren
            </h2> <button class="button content__button  button--white  ">
                <span class="button__text">Kontaktieren Sie Uns</span>
                <i class="button__icon icon icon--arrow"></i>
                <figure class="button__overlay"></figure>
            </button>
        </div>
    </div>
    <div class="cta__inner cta__inner--right section__inner section__inner--left"></div>
</section>
{% endblock %}