{% extends "04_layouts/page/barebone" %}

{% block main %}
<section class="login section  js-login ">
    <div class="login__inner login__inner--left section__inner section__inner--right"></div>
    <div class="login__inner login__inner--center section__inner section__inner--center">

        <div class="login__background background">
            <img class="background__image" src="/media/images/various/brainstorming.webp" alt="Brainstroming">
            <div class="background__overlay"></div>
        </div>

        <div class="login__form form">

            <div class="form__dial dial">
                <button class="dial__button" data-value="1">1</button>
                <button class="dial__button" data-value="2">2</button>
                <button class="dial__button" data-value="3">3</button>
                <button class="dial__button" data-value="4">4</button>
                <button class="dial__button" data-value="5">5</button>
                <button class="dial__button" data-value="6">6</button>
                <button class="dial__button" data-value="7">7</button>
                <button class="dial__button" data-value="8">8</button>
                <button class="dial__button" data-value="9">9</button>
                <button class="dial__button" data-value="0">0</button>
            </div>

            <div class="form__dots dots">
                <div class="dots__item"></div>
                <div class="dots__item"></div>
                <div class="dots__item"></div>
                <div class="dots__item"></div>
                <div class="dots__item"></div>
                <div class="dots__item"></div>
            </div>
        </div>
    </div>

    </div>
    <div class="login__inner login__inner--right section__inner section__inner--left"></div>
</section>
{% endblock %}