{% extends "04_layouts/page/dark" %}

{% block main %}

<section class="heroine section  js-heroine ">
    <div class="heroine__inner heroine__inner--left section__inner section__inner--right"></div>
    <div class="heroine__inner heroine__inner--center section__inner section__inner--center">

        <div class="heroine__background background">
            <img class="background__image" src="/media/images/heros/pen.webp" alt="Meeting">
            <div class="background__overlay"></div>
        </div>

        <div class="heroine__content content">
            <h1 class="heading  heading--h2   heading--white  content__heading js-heading">
                Anlageberatungen
            </h1>
            <div class="content__paragraph paragraph">
                <i class="paragraph__icon icon icon--kr-symbol"></i>
                <p class="paragraph__text">Für viele Arbeitnehmende ist die zweite Säule der Eckpfeiler ihrer Altersvorsorge. Die Pensionskasse sorgt dafür, dass sie auch im Alter auf den gewohnten Lebensstandard zählen können. Bereits eine minimale Veränderung des Zinsniveaus kann zu einer wesentlichen Erhöhung der Rentenleistung nach der Pensionierung führen.</p>
            </div>
        </div>

    </div>
    <div class="heroine__inner heroine__inner--right section__inner section__inner--left"></div>
</section>
<section class="course-intro section  js-course-intro ">
    <div class="course-intro__inner course-intro__inner--left section__inner section__inner--right"></div>
    <div class="course-intro__inner course-intro__inner--center section__inner section__inner--center">

        <div class="course-intro__content content">
            <div class="article content__article">
                <img class="article__image" src="/media/images/services/classic-investments.webp" alt="">
                <div class="article__content">
                    <h2 class="heading  heading--h2   article__heading js-heading">
                        Klassische Anlagen
                    </h2>
                    <p class="paragraph  paragraph--blue   paragraph--bold  article__subheading">
                        Traditionell &amp; bewährt
                    </p>
                    <p class="paragraph  paragraph--black   article__text">
                        Wir bieten eine umfassende Anlageberatung, die auf Ihre Bedürfnisse, Wünsche und Lebensziele zugeschnitten ist. Gemeinsam mit unserem langjährigen Partner beraten wir Sie aktiv und weitsichtig, damit Sie Marktchancen für sich nutzen und zielgerichtet investieren können. Dabei steht ein überschaubares Risiko mithilfe einer klassischen Portfoliodiversifikation im Vordergrund. Ganz dem Zeitgeist entsprechend bieten wir auch nachhaltige Geldanlagen an, die Mehrwert für Wirtschaft, Gesellschaft und Umwelt schaffen. Übrigens, Anlegen ist bei uns bereits ab 50 Franken im Monat möglich. Wir freuen uns Sie, Ihre Bedürfnisse und Träume bei einem persönlichen Gespräch kennenzulernen.
                    </p>
                    <p class="paragraph  paragraph--black   paragraph--bold  article__outro">
                        Wir freuen uns Sie, Ihre Bedürfnisse und Träume bei einem persönlichen Gespräch kennenzulernen.
                    </p>
                </div>
            </div>
            <div class="quote content__quote">
                <img class="quote__avatar" src="/media/images/avatars/roger-kretz.webp" alt="">
                <div class="quote__content content">
                    <i class="content__icon icon icon--quote"></i>
                    <p class="content__text">Egal ob Investments in Immobilien, interessante Zweitmarkt-Policen oder klassische Anlagen, wir empfehlen nur, was wir selbst auch kaufen. Diese Erfahrungen und dieses Wissen stecken in unseren bewährten Anlagelösungen. Und diese machen wir unseren Kundinnen und Kunden zugänglich – und zwar allen.</p>
                    <span class="content__author author">
                        <p class="author__name">Max Mustermann</p>
                        <p class="author__separator">-</p>
                        <p class="author__role">Moonshot Investor Network</p>
                    </span>
                </div>
            </div>
            <div class="article content__article">
                <img class="article__image" src="/media/images/services/classic-investments.webp" alt="">
                <div class="article__content">
                    <h2 class="heading  heading--h2   article__heading js-heading">
                        Klassische Anlagen
                    </h2>
                    <p class="paragraph  paragraph--blue   paragraph--bold  article__subheading">
                        Traditionell &amp; bewährt
                    </p>
                    <p class="paragraph  paragraph--black   article__text">
                        Wir bieten eine umfassende Anlageberatung, die auf Ihre Bedürfnisse, Wünsche und Lebensziele zugeschnitten ist. Gemeinsam mit unserem langjährigen Partner beraten wir Sie aktiv und weitsichtig, damit Sie Marktchancen für sich nutzen und zielgerichtet investieren können. Dabei steht ein überschaubares Risiko mithilfe einer klassischen Portfoliodiversifikation im Vordergrund. Ganz dem Zeitgeist entsprechend bieten wir auch nachhaltige Geldanlagen an, die Mehrwert für Wirtschaft, Gesellschaft und Umwelt schaffen. Übrigens, Anlegen ist bei uns bereits ab 50 Franken im Monat möglich. Wir freuen uns Sie, Ihre Bedürfnisse und Träume bei einem persönlichen Gespräch kennenzulernen.
                    </p>
                    <p class="paragraph  paragraph--black   paragraph--bold  article__outro">
                        Wir freuen uns Sie, Ihre Bedürfnisse und Träume bei einem persönlichen Gespräch kennenzulernen.
                    </p>
                </div>
            </div>
        </div>

        <div class="course-intro__sidepanel sidepanel">
            <div class="contact-card sidepanel__contact-card">
                <img class="avatar contact-card__avatar" src="/media/images/avatars/roger-kretz.webp" alt="Roger Kretz">
                <h4 class="heading  heading--h4   contact-card__name js-heading">
                    Roger Kretz
                </h4>
                <p class="paragraph  paragraph--blue   paragraph--bold  contact-card__role">
                    Gründer &amp; Inhaber
                </p> <a class="link contact-card__phone  link--black    contact-card__phone" href="">
                    +41 79 302 63 29
                </a> <a class="link contact-card__email  link--black    contact-card__email" href="">
                    kretz@krconsulting.ch
                </a>
            </div>
        </div>

    </div>
    <div class="course-intro__inner course-intro__inner--right section__inner section__inner--left"></div>
</section>
<section class="cta section  js-cta ">
    <div class="cta__inner cta__inner--left section__inner section__inner--right"></div>
    <div class="cta__inner cta__inner--center section__inner section__inner--center">
        <div class="cta__background"></div>
        <div class="cta__content content">
            <div class="content__overlay"></div>
            <img class="content__image" src="/media/images/various/desk.webp" alt="Desk" />
            <h2 class="heading  heading--h2   heading--white  content__heading js-heading">
                Jetzt unverbindlichen Termin vereinbaren
            </h2> <button class="button content__button  button--white  ">
                <span class="button__text">Kontaktieren Sie Uns</span>
                <i class="button__icon icon icon--arrow"></i>
                <figure class="button__overlay"></figure>
            </button>
        </div>
    </div>
    <div class="cta__inner cta__inner--right section__inner section__inner--left"></div>
</section>
<footer class="footer section  js-footer ">
    <div class="footer__inner footer__inner--left section__inner section__inner--right"></div>
    <div class="footer__inner footer__inner--center section__inner section__inner--center">

        <div class="footer__infos infos">
            <img class="infos__logo" src="/media/graphics/logos/logo-kr-consulting.svg" alt="KR Consulting">
            <address class="infos__address address">
                <h5 class="heading  heading--h5   address__heading js-heading">
                    Adresse
                </h5>
                <p class="paragraph   address__item">
                    Surenthalerstrasse 10
                </p>
                <p class="paragraph   address__item">
                    6210 Sursee
                </p>
            </address>
            <div class="infos__contact contact">
                <h5 class="heading  heading--h5   contact__heading js-heading">
                    Kontakt
                </h5> <a class="link contact__link    contact__link" href="mailto:kretz@krconsulting.ch">
                    kretz@krconsulting.com
                </a> <a class="link contact__link    contact__link" href="tel:+41793026329">
                    +41 79 302 63 29
                </a> <a class="link contact__link    contact__link" href="https://linkedin.com">
                    LinkedIn
                </a>
            </div>
        </div>

        <div class="footer__links links">
            <p class="paragraph   links__item">
                © 2022, KR Consulting GmbH
            </p> <a class="link links__link    links__link" href="#">
                Impressum
            </a> <a class="link links__link    links__link" href="#">
                Datenschutz
            </a>
        </div>

        <div class="footer__partners partners">
            <a class="partners__item" href="#">
                <img class="partners__logo" src="/media/graphics/logos/logo-sbf.svg" alt="">
            </a>
            <a class="partners__item" href="#">
                <img class="partners__logo" src="/media/graphics/logos/logo-schweizer-kaderverband.svg" alt="">
            </a>
            <a class="partners__item" href="#">
                <img class="partners__logo" src="/media/graphics/logos/logo-ombudsstelle.svg" alt="">
            </a>
        </div>

    </div>
    <div class="footer__inner footer__inner--right section__inner section__inner--left"></div>
</footer>
{% endblock %}