{% extends "04_layouts/page/dark" %}

{% block main %}

<div class="hero section  js-hero ">
    <div class="hero__inner hero__inner--left section__inner section__inner--right"></div>
    <div class="hero__inner hero__inner--center section__inner section__inner--center">

        <div class="desktop-navigation__background background">
            <img class="background__image" src="/media/images/various/meeting.webp" alt="Meeting">
            <div class="background__overlay"></div>
        </div>
        <img class="hero__symbol" src="/media/graphics/logos/logo-kr-consulting-symbol-dark.svg"></figure>
        <div class="hero__content content">
            <h1 class="heading  heading--h1   heading--white  content__heading js-heading">
                Individuelle Anlagelösungen für Ihre finanzielle Sicherheit
            </h1> <button class="button content__button  button--white  ">
                <span class="button__text">Mehr erfahren</span>
                <i class="button__icon icon icon--arrow"></i>
                <figure class="button__overlay"></figure>
            </button>
        </div>

    </div>
    <div class="hero__inner hero__inner--right section__inner section__inner--left"></div>
</div>
<section class="intro section  js-intro ">
    <div class="intro__inner intro__inner--left section__inner section__inner--right"></div>
    <div class="intro__inner intro__inner--center section__inner section__inner--center">

        <img class="intro__symbol" src="/media/graphics/logos/logo-kr-consulting-symbol-light.svg" />
        <div class="intro__content">
            <h2 class="heading  heading--h2   heading--black  content__heading js-heading">
                Ihnen eine bessere finanzielle Zukunft zu ermöglichen, ist unser Ziel.
            </h2>
            <p class="paragraph  paragraph--black   content__text">
                Wir begleiten Sie auf vorausschauende Art und Weise und bieten exzellente Beratung und Service zu fast allen Finanzfragen. Immer transparent und persönlich nah. Damit Sie sich mit Ihren Anlagelösungen langfristig wohl fühlen.
            </p>
        </div>
        <img class="intro__image" src="/media/images/various/person.webp" alt="Person">

    </div>
    <div class="intro__inner intro__inner--right section__inner section__inner--left"></div>
</section>
<section class="services-overview section  js-services-overview ">
    <div class="services-overview__inner services-overview__inner--left section__inner section__inner--right"></div>
    <div class="services-overview__inner services-overview__inner--center section__inner section__inner--center">

        <div class="services-overview__background"></div>
        <h2 class="heading  heading--h2   heading--white  services-overview__heading js-heading">
            Wir ermöglichen Anlegen für alle
        </h2>
        <div class="services-slider js-slider services__slider">

            <div class="services-slider__background background">
                <img class="background__image" src="/media/images/services/second-market-polices.webp" data-key="1" />
                <img class="background__image" src="/media/images/services/classic-investments.webp" data-key="2" />
                <img class="background__image" src="/media/images/services/real-estate.webp" data-key="3" />
                <img class="background__image" src="/media/images/services/digital-assets.webp" data-key="4" />
            </div>

            <div class="services-slider__slider slider swiper-wrapper">

                <a class="slider__item item cell swiper-slide" href="#" data-key="1">
                    <h3 class="heading  heading--h3   heading--white  item__heading js-heading">
                        Zweitmarkt-Policen
                    </h3>
                    <p class="paragraph  paragraph--white   item__text">
                        Eines der bestgehüteten Anlagegeheimnisse. Attraktive und zuverlässige Investition im Zweitmarkt-Policenbereich. Helfen und partizipieren Sie gleichzeitig
                    </p>
                    <p class="paragraph  paragraph--white   item__teaser">
                        Traditionell &amp; Bewährt
                    </p>
                    <figure class="item__square"></figure>
                </a>

                <a class="slider__item item cell swiper-slide" href="#" data-key="2">
                    <h3 class="heading  heading--h3   heading--white  item__heading js-heading">
                        Klassische Anlagen
                    </h3>
                    <p class="paragraph  paragraph--white   item__text">
                        Traditionell und bewährt. Ihre individuelle Anlagestrategie in etablierten Märkten. Entwickelt und umgesetzt mit qualifizierten und beständigen Partnern.
                    </p>
                    <p class="paragraph  paragraph--white   item__teaser">
                        Traditionell &amp; Bewährt
                    </p>
                    <figure class="item__square"></figure>
                </a>

                <a class="slider__item item cell swiper-slide" href="#" data-key="3">
                    <h3 class="heading  heading--h3   heading--white  item__heading js-heading">
                        Alternative Anlagen
                    </h3>
                    <p class="paragraph  paragraph--white   item__text">
                        Zugang zu ausserbörslichen Investtitionen in die Unternehmen der Zukunft.
                    </p>
                    <p class="paragraph  paragraph--white   item__teaser">
                        Traditionell &amp; Bewährt
                    </p>
                    <figure class="item__square"></figure>
                </a>

                <a class="slider__item item cell swiper-slide" href="#" data-key="4">
                    <h3 class="heading  heading--h3   heading--white  item__heading js-heading">
                        Digital Assets
                    </h3>
                    <p class="paragraph  paragraph--white   item__text">
                        Dezentral und zukunftsweisend. Spannende Investitionen in Kryptowährungen. Unsere erfahrenen Partner verfügen über das entsprechende Know-how und haben die passende Strategie für Sie.
                    </p>
                    <p class="paragraph  paragraph--white   item__teaser">
                        Traditionell &amp; Bewährt
                    </p>
                    <figure class="item__square"></figure>
                </a>

                <a class="slider__item item cell swiper-slide" href="#" data-key="4">
                    <h3 class="heading  heading--h3   heading--white  item__heading js-heading">
                        Berufliche Vorsorge
                    </h3>
                    <p class="paragraph  paragraph--white   item__text">
                        Mehr als eine Versicherung. Die optimale Personalvorsorge ist heute ein gewichtiges Argument bei der Rekrutierung qualifizierter Mitarbeiter. Gerne beraten und begleiten wir Sie auf dem Weg zur individuellen Lösung im Bereich der beruflichen Vorsorge.
                    </p>
                    <p class="paragraph  paragraph--white   item__teaser">
                        Traditionell &amp; Bewährt
                    </p>
                    <figure class="item__square"></figure>
                </a>

            </div>

            <div class="services-slider__arrows arrows">
                <i class="arrows__icon arrows__icon--left icon icon--arrow swiper-button-prev"></i>
                <i class="arrows__icon arrows__icon--right icon icon--arrow swiper-button-next"></i>
            </div>

        </div>
    </div>
    <div class="services-overview__inner services-overview__inner--right section__inner section__inner--left"></div>
</section>
<section class="teaser section  js-teaser ">
    <div class="teaser__inner teaser__inner--left section__inner section__inner--right"></div>
    <div class="teaser__inner teaser__inner--center section__inner section__inner--center">

        <img class="teaser__symbol" src="/media/graphics/logos/logo-kr-consulting-symbol-light.svg" />
        <div class="teaser__content">
            <h3 class="heading  heading--h3   heading--white  content__heading js-heading">
                Ihnen eine bessere finanzielle Zukunft zu ermöglichen, ist unser Ziel.
            </h3> <button class="button content__button  button--white  ">
                <span class="button__text">Vorsorgelösungen</span>
                <i class="button__icon icon icon--arrow"></i>
                <figure class="button__overlay"></figure>
            </button>
        </div>
        <img class="teaser__image" src="/media/images/various/brainstorming.webp" alt="Person" />

    </div>
    <div class="teaser__inner teaser__inner--right section__inner section__inner--left"></div>
</section>
<section class="stats section  js-stats ">
    <div class="stats__inner stats__inner--left section__inner section__inner--right"></div>
    <div class="stats__inner stats__inner--center section__inner section__inner--center">

        <div class="stats__wrapper">
            <h5 class="heading  heading--h5   heading--black  stats__peaker js-heading">
                KR Consulting in Zahlen
            </h5>
            <h2 class="heading  heading--h2   heading--black  stats__heading js-heading">
                Massgeschneiderte Anlagestrategien für jedes Bedürfnis
            </h2>

            <div class="counters stats__counters">
                <div class="counters__item item">
                    <span class="item__wrapper">
                        <i class="item__icon icon icon--kr-symbol"></i>
                        <p class="paragraph  paragraph--blue   paragraph--extrabig  item__value">
                            25
                        </p>
                        <p class="paragraph  paragraph--blue   paragraph--extrabig  item__plus">
                            +
                        </p>
                    </span>
                    <p class="paragraph  paragraph--blue   item__label">
                        Erfahrung
                    </p>
                </div>
                <div class="counters__item item">
                    <span class="item__wrapper">
                        <i class="item__icon icon icon--kr-symbol"></i>
                        <p class="paragraph  paragraph--blue   paragraph--extrabig  item__value">
                            100
                        </p>
                        <p class="paragraph  paragraph--blue   paragraph--extrabig  item__plus">
                            +
                        </p>
                    </span>
                    <p class="paragraph  paragraph--blue   item__label">
                        Treue Kunden
                    </p>
                </div>
                <div class="counters__item item">
                    <span class="item__wrapper">
                        <i class="item__icon icon icon--kr-symbol"></i>
                        <p class="paragraph  paragraph--blue   paragraph--extrabig  item__value">
                            50
                        </p>
                        <p class="paragraph  paragraph--blue   paragraph--extrabig  item__plus">
                            +
                        </p>
                    </span>
                    <p class="paragraph  paragraph--blue   item__label">
                        Schulungen/Jahr
                    </p>
                </div>

            </div> <button class="button stats__button  button--blue  ">
                <span class="button__text">Über Uns</span>
                <i class="button__icon icon icon--arrow"></i>
                <figure class="button__overlay"></figure>
            </button>
        </div>

    </div>
    <div class="stats__inner stats__inner--right section__inner section__inner--left"></div>
</section>
<section class="testimonials section  js-testimonials ">
    <div class="testimonials__inner testimonials__inner--left section__inner section__inner--right"></div>
    <div class="testimonials__inner testimonials__inner--center section__inner section__inner--center">

        <img class="testimonials__symbol" src="/media/graphics/logos/logo-kr-consulting-symbol-light.svg" alt="">
        <div class="quote testimonials__quote">
            <img class="quote__avatar" src="/media/images/avatars/roger-kretz.webp" alt="">
            <div class="quote__content content">
                <i class="content__icon icon icon--quote"></i>
                <p class="content__text">Egal ob Investments in Immobilien, interessante Zweitmarkt-Policen oder klassische Anlagen, wir empfehlen nur, was wir selbst auch kaufen. Diese Erfahrungen und dieses Wissen stecken in unseren bewährten Anlagelösungen. Und diese machen wir unseren Kundinnen und Kunden zugänglich – und zwar allen.</p>
                <span class="content__author author">
                    <p class="author__name">Max Mustermann</p>
                    <p class="author__separator">-</p>
                    <p class="author__role">Moonshot Investor Network</p>
                </span>
            </div>
        </div>
    </div>
    <div class="testimonials__inner testimonials__inner--right section__inner section__inner--left"></div>
</section>
<section class="cta section  js-cta ">
    <div class="cta__inner cta__inner--left section__inner section__inner--right"></div>
    <div class="cta__inner cta__inner--center section__inner section__inner--center">
        <div class="cta__background"></div>
        <div class="cta__content content">
            <div class="content__overlay"></div>
            <img class="content__image" src="/media/images/various/desk.webp" alt="Desk" />
            <h2 class="heading  heading--h2   heading--white  content__heading js-heading">
                Jetzt unverbindlichen Termin vereinbaren
            </h2> <button class="button content__button  button--white  ">
                <span class="button__text">Kontaktieren Sie Uns</span>
                <i class="button__icon icon icon--arrow"></i>
                <figure class="button__overlay"></figure>
            </button>
        </div>
    </div>
    <div class="cta__inner cta__inner--right section__inner section__inner--left"></div>
</section>
{% endblock %}