.link {
	color: $blue-60;
	transition: color 0.1s ease;

	&--blue {
		color: $blue-60;
		&:hover {
			color: darken($blue-60, 10%);
		}
	}

	&--lightblue {
		color: $blue-40;
		&:hover {
			color: lighten($blue-40, 10%);
		}
	}

	&--white {
		color: $white;
	}

	&--black {
		color: $black;
	}
}
