<div class="contact-card {{ class }}">
    {{> @avatar class="contact-card__avatar" }}
    {{> @heading class="contact-card__name" type="h4" content="Roger Kretz" }}
    {{> @paragraph class="contact-card__role" content="Gründer & Inhaber" color="blue" style="bold" }}
    {{> @link class="contact-card__phone" content="+41 79 302 63 29" color="black" }}
    {{> @link class="contact-card__email" content="kretz@krconsulting.ch" color="black" }}
</div>
