<div class="services-slider js-slider">
   
    <div class="services-slider__background background">
        <img class="background__image" src="/media/images/services/second-market-polices.webp" data-key="1" />
        <img class="background__image" src="/media/images/services/classic-investments.webp" data-key="2"/>
        <img class="background__image" src="/media/images/services/real-estate.webp" data-key="3"/>
        <img class="background__image" src="/media/images/services/digital-assets.webp" data-key="4"/>
    </div>

      <div class="services-slider__slider slider swiper-wrapper">
         
         <a class="slider__item item cell swiper-slide" href="#" data-key="1">
         {{> @heading class="item__heading" type="h3" color="white" content="Zweitmarkt-Policen" }}
         {{> @paragraph class="item__text" color="white" content="Eines der bestgehüteten Anlagegeheimnisse. Attraktive und zuverlässige Investition im Zweitmarkt-Policenbereich. Helfen und partizipieren Sie gleichzeitig"}}
         <figure class="item__square"></figure>
         </a>
         
         <a class="slider__item item cell swiper-slide" href="#" data-key="2">
         {{> @heading class="item__heading" type="h3" color="white" content="Klassische Anlagen" }}
         {{> @paragraph class="item__text" color="white" content="Traditionell und bewährt. Ihre individuelle Anlagestrategie in etablierten Märkten. Entwickelt und umgesetzt mit qualifizierten und beständigen Partnern."}}
         <figure class="item__square"></figure>
         </a>
         
         <a class="slider__item item cell swiper-slide" href="#" data-key="3">
         {{> @heading class="item__heading" type="h3" color="white" content="Alternative Anlagen" }}
         {{> @paragraph class="item__text" color="white" content="Zugang zu ausserbörslichen Investtitionen in die Unternehmen der Zukunft."}}
         <figure class="item__square"></figure>
         </a>
         
         <a class="slider__item item cell swiper-slide" href="#" data-key="4">
         {{> @heading class="item__heading" type="h3" color="white" content="Digital Assets" }}
         {{> @paragraph class="item__text" color="white" content="Dezentral und zukunftsweisend. Spannende Investitionen in Kryptowährungen. Unsere erfahrenen Partner verfügen über das entsprechende Know-how und haben die passende Strategie für Sie."}}
         <figure class="item__square"></figure>
         </a>
         
         <a class="slider__item item cell swiper-slide" href="#" data-key="2">
         {{> @heading class="item__heading" type="h3" color="white" content="Berufliche Vorsorge" }}
         {{> @paragraph class="item__text" color="white" content="Mehr als eine Versicherung. Die optimale Personalvorsorge ist heute ein gewichtiges Argument bei der Rekrutierung qualifizierter Mitarbeiter. Gerne beraten und begleiten wir Sie auf dem Weg zur individuellen Lösung im Bereich der beruflichen Vorsorge."}}
         <figure class="item__square"></figure>
         </a>
         
      </div>

      <div class="services-slider__arrows arrows">
        <i class="arrows__icon arrows__icon--left icon icon--arrow swiper-button-prev"></i>
        <i class="arrows__icon arrows__icon--right icon icon--arrow swiper-button-next"></i>
      </div>

</div>