.section {
	width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template: auto / minmax(0, auto) minmax(auto, 1400px) minmax(0, auto);
    justify-content: stretch;;
    
    &__inner {
	width: 100%;
	margin: 0 auto;

    &--left {
    };

    &--center {
        padding-left: 96px;
        padding-right: 96px;
    }

    &--right {
    }

}

    @media (max-width: 950px) {

        &__inner {

            &--center {
                padding-left: 64px;
                padding-right: 64px;
            }
            
        }

    }

    @media (max-width: 650px) {

        &__inner {

            &--center {
                padding-left: 32px;
                padding-right: 32px;
            }
            
        }

    }
}
