{{#>@section id="services-overview" js="true" tag="section" }}

    <div class="services-overview__background"></div>
		{{> @heading class="services-overview__heading" type='h2' content="Wir ermöglichen Anlegen für alle" color="white" showShadow=true }}
    {{> @services-slider class="services__slider" }}

{{/@section}}