<section class="about section">
	<div class="about__inner section__inner">
		{{> @team-member class="about__team-member" }}
		{{> @team-member class="about__team-member" reversed="true" }}
	</div> 
</section>
