<section class="contact-infos section">
    <div class="contact-infos__inner section__inner">
        {{> @contact-teaser class="contact-infos__contact-teaser" }}
        {{> @location-card class="contact-infos__contact-card" }}
    </div>
</section>