.mobile-navigation {
    z-index: 500;
    position: relative;
    display: none;

    &__inner {
    }

    &__bar,
    .bar {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 88px;
        background-color: $blue-80;
        transition: all 0.3s ease;
        z-index: 5;
        box-shadow: 0 0 4px 0px $blue-100;

        &--hidden {
            top: -88px !important;
            box-shadow: unset !important;
        }

        &--transparent {
            background-color: transparentize($blue-80, 1) !important;
            box-shadow: unset !important;

        }

        &__inner {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 24px 96px;
        }

        &__logo {
            height: 32px;
        }

        &__hamburger {
            height: 32px;
            width: 32px;
        }
    }

    &__menu,
    .menu {
        padding: 128px 96px 64px 96px;
        flex-direction: column;
        min-height: 100vh;
        position: fixed;
        top: 0;
        left: 100%;
        bottom: 0;
        width: 100%;
        background-color: $blue-80;
        transition: all 0.3s ease;
        display: flex;

        &--active {
            left: 0% !important;
        }

        &__link {
            color: $white;
            margin-bottom: 16px;
        }
    }

    @media (max-width: 950px) {
        &__bar,
        .bar {
            &__inner {
                padding: 16px 64px;
            }

        }
            &__menu,
            .menu {
                    padding: 128px 64px 64px 64px;
                }
    }

    @media (max-width: 650px) {
        &__bar,
        .bar {
            &__inner {
                padding: 16px 32px;
            }
        }
        &__menu,
        .menu {
            padding: 128px 32px 64px 32px;
        }
    }

}
