<nav class='mobile-navigation js-mobile-navigation'>
    <div class="mobile-navigation__inner section__inner">
        
        <div class="mobile-navigation__bar mobile-navigation__bar--transparent bar">
					<div class="bar__inner">
            <img class="bar__logo" src="/media/graphics/logos/logo-kr-consulting-small.svg" alt="KR Consulting">
            <div class="bar__hamburger"></div>
					</div>
        </div>

        <div class="mobile-navigation__menu menu">
            <a class="menu__link" href="">Anlageberatungen</a>
            <a class="menu__link" href="">Vorsorgelösungen</a>
            <a class="menu__link" href="">Über Uns</a>
            <a class="menu__link" href="">Kontakt</a>
        </div>

    </div>    
</nav>

