.contact-form {

	&__input-text-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 16px;
		margin-bottom: 32px;
	}

	&__input-checkbox {
		margin-bottom: 16px;
	}

	&__input-textarea {
		margin-bottom: 16px;
	}

	&__disclaimer, .disclaimer {
		margin-bottom: 32px;
		display: block;

		&__text, .paragraph {
			color: $black;

			&__link, a {
				color: $blue-60;
				text-decoration: none;
				font-size: inherit;
				cursor: pointer;
			}
		}

		&__link {
			color: white;
			text-decoration: underline;
			font-weight: inherit;
		}

	}

	&__input-submit {
		margin: 0 auto;
	}

	&__status-message, .status-message {

		&--success, 
		&--error {
			display: none;
			color: $white;
			position: relative;	

			&::after {
				content: "";
				position: absolute;
				width: 4px;
				height: 4px;
				top: 12px;
				display: inline-block;
				margin-left: 8px;
				background-color: $red-100;
				border-radius: 50%;
			}

		}

		&--success::after { background-color: $blue-60; }
		&--error::after { background-color: $red-100; }
		&--active { display: block }

	}

}