<form class="contact-form js-contact-form {{ class }}">
	<span class="contact-form__input-text-wrapper">
		{{> @input-text class="contact-form__input-text contact-form__input-text--lastname" label="Nachname*" error-text="Bitte geben Sie Ihren Namen an" }}
		{{> @input-text class="contact-form__input-text contact-form__input-text--firstname" label="Vorame*" error-text="Bitte geben Sie Ihren Namen an" }}
		{{> @input-text class="contact-form__input-text contact-form__input-text--email" label="E-Mail*" error-text="Bitte geben Sie eine g체ltige E-Mail-Adresse an"}}
		{{> @input-text class="contact-form__input-text contact-form__input-text--phone" label="Telefon"}}
		{{> @input-text class="contact-form__input-text contact-form__input-text--company" label="Firma"}}
		{{> @input-text class="contact-form__input-text contact-form__input-text--company" label="Wunschtermin"}}
	</span>
	{{> @input-checkbox class="contact-form__input-checkbox" label="Ich interessiere mich f체r eine Schulung" id="course"}}
	{{> @input-textarea class="contact-form__input-textarea contact-form__input-textarea--message" label="Erz채hlen Sie uns vobn Ihrem Projekt*" error-text="Bitte verfassen Sie eine Nachricht"}}
	<span class="contact-form__disclaimer disclaimer">
		<p class="disclaimer__text">
			* Mit dem Senden sind Sie mit unserer <a class="disclaimer__link">Datenschutzerkl채rung</a> einverstanden.
		</p>
	</span>
	{{> @button class="contact-form__input-submit" content="Senden" color="blue" }}
	<div class="contact-form__status-message status-message">
		<p class="status-message--success">Ihre Nachricht wurde versendet.</p>
		<p class="status-message--error">Ein Fehler ist aufgetreten - die Nachricht konnte nicht gesendet werden.</p>
	</div>
</form>