{{#>@section id="cta" js="false" tag="section" }}
    <div class="cta__background"></div>
    <div class="cta__content content">
        <div class="content__overlay"></div>
        <img class="content__image" src="/media/images/various/desk.webp" alt="Desk" />
        {{> @heading class="content__heading" type="h2" color="white" content="Jetzt unverbindlichen Termin vereinbaren" }}
        {{> @button class="content__button" color="white" content="Kontaktieren Sie Uns" trigger="message-modal"}}
    </div>
{{/@section}}