.cta {
    width: 100%;
    height: auto;
    position: relative;
    
    &__inner {
			position: relative;
			z-index: 5;
			width: calc(100% - (2 * 96px));
			padding: 0;
    }
    
    &__image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: transparentize($blue-100, 0.75);
    }

    &__background {
        position: absolute;
        top: 50%;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $blue-80;
        z-index: -5;
    }

    &__content, .content {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 40px;
        gap: 40px;

        &__heading  {
            height: 100%;
            margin-bottom: 32px;
            hyphens: unset;
        }

        &__button {
            min-width: 320px;
        }

    }

    @media (max-width: 1200px) {

        &__content, .content {
            flex-direction: column;

            &__button {
                align-self: flex-end;
            }

        }

    }

    @media (max-width: 1050px) {

        &__content, .content {

            &__button {
                align-self: center;
            }

        }

    }

		@media (max-width: 950px) {

			&__inner {
				width: calc(100% - (2 * 64px));
			}

		}

    @media (max-width: 750px) {

        &__content, .content {

            &__button {
                align-self: flex-start;
            }

        }

    }

		@media (max-width: 950px) {

			&__inner {
				width: calc(100% - (2 * 32px));
			}
			
		}
   

}