<section class="stats">
    <div class="stats__inner">

        {{> @heading class="stats__peaker" type="h5" color="black" content="KR Consulting in Zahlen" }}
        {{> @heading class="stats__heading" type="h2" color="black" content="Massgeschneiderte Anlagestrategien für jedes Bedürfnis" }}
        {{> @counters class="stats__counters" }}
        {{> @button class="stats__button" color="blue" content="Über Uns"}}

    </div>
</div>