{{#>@section id="stats" js="false" tag="section" }}
    <div class="stats__wrapper">
        {{> @heading class="stats__peaker" type="h5" color="black" content="KR Consulting in Zahlen" }}
        {{> @heading class="stats__heading" type="h2" color="black" content="Massgeschneiderte Anlagestrategien für jedes Bedürfnis" }}
        {{> @counters class="stats__counters" }}
        {{> @button class="stats__button" color="blue" content="Über Uns" }}
    </div>
{{/@section}}
