.intro {
    position: relative;
    margin-top: -80px;

    &__inner {
        &--center {
            display: grid;
            padding-right: 0 !important;
            grid-template-columns: 1fr 400px;
            grid-template-rows: auto;
            grid-gap: 96px;
        }
    }

    &__symbol {
        position: absolute;
        height: 100%;
        bottom: 0;
        left: 0;
        z-index: -5;
    }

    &__content,
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 196px 0 160px 0;

        &__heading {
            max-width: 680px;
            margin-bottom: 32px;
        }

        &__text {
            max-width: 680px;
            margin-left: 160px;
        }
    }

    &__image,
    .image {
        width: 400px;
        height: 100%;
        display: block;
        object-fit: cover;
        object-position: 35% center;
    }

    @media (max-width: 1050px) {
        &__inner {
            &--center {
                padding-right: 96px !important;
                grid-template-columns: auto;
            }
        }

        &__symbol {
            height: 100%;
        }

        &__image {
            display: none;
        }
    }

    @media (max-width: 950px) {
        &__content,
        .content {
            &__text {
                margin-left: 80px;
            }
        }
    }

    @media (max-width: 550px) {
        &__symbol {
            display: none;
        }

        &__content,
        .content {
            &__text {
                margin-left: 0;
            }
        }
    }
}
