{{#>@section id="intro" js="false" tag="section" }}
    <img class="intro__symbol" src="/media/graphics/logos/logo-kr-consulting-symbol-light.svg"/>
    <div class="intro__content">
        {{> @heading class="content__heading" type="h2" color="black" content="Ihnen eine bessere finanzielle Zukunft zu ermöglichen, ist unser Ziel." }}
        {{> @paragraph class="content__text" color="black" content="Wir begleiten Sie auf vorausschauende Art und Weise und bieten exzellente Beratung und Service zu fast allen Finanzfragen. Immer transparent und persönlich nah. Damit Sie sich mit Ihren Anlagelösungen langfristig wohl fühlen." }}
    </div>
    <img class="intro__image" src="/media/images/various/person.webp" alt="Person"/>
{{/@section}}
