.intro {
    position: relative;
	margin-top: -80px;
    // grid-template: auto /  minmax(96px, 0) minmax(auto,1400px) minmax(96px, 0px) !important;
    // justify-content: stretch !important;
    // align-items: center;
    // 
    &__inner {
        
        &--center {
            display: grid;
            padding-right: 0 !important;
            grid-template-columns: 1fr 400px;
            grid-template-rows: auto;
            grid-gap: 96px;
        }

    }

    &__symbol {
        position: absolute;
        height: 100%;
        bottom: 0;
        left: 0;
        z-index: -5
    }

    &__content, .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
				padding: 160px 0 120px 0;

        
        &__heading {
            max-width: 680px;
            margin-bottom: 32px;
        }
        
        &__text {
            max-width: 680px;
            margin-left: 160px;
        }
        
    }

    &__image, .image {
        width: 400px;
        height: auto;
        display: block;
        object-fit: cover; 
    }



    @media (max-width: 1000px) {

    &__inner {
        
        &--center {
            padding-right: 96px !important;
            grid-template-columns: auto;
        }

    }


        &__content {
            // padding: 120px 0 120px 0;
        }

        &__symbol {
            height: 100%;
        }

        &__image {
            display: none;
        }
			
		}

  
		@media (max-width: 1000px) {
  
	overflow: h
  			// &__inner {
			// 	padding-right: 64px;
			// 	padding-left: 64px;
			// }
			
		}

		@media (max-width: 900px) {

			&__content, .content {

				&__text {
					margin-left: 0;
				}

			}

		}


    @media (max-width: 550px) {

        &__symbol  {
            display: none;
        }

        &__content, .content {

            &__text {
                margin-left:  0;
            }

        }

    }

}