<nav class="desktop-navigation {{ class }} section">
	<div class="desktop-navigation__inner section__inner">
		{{!-- <div class="desktop-navigation__background background">
			<img class="background__image" src="/media/images/various/meeting.webp" alt="Meeting" >
			<div class="background__overlay"></div>
		</div> --}}
		<img class="desktop-navigation__logo" src="/media/graphics/logos/logo-kr-consulting.svg" alt="KR Consulting">
		<span class="desktop-navigation__link-wrapper">
			<a class="desktop-navigation__link" href="#">Anlageberatungen</a>
			<a class="desktop-navigation__link" href="#">Vorsorgelösungen</a>
			<a class="desktop-navigation__link" href="#">Über Uns</a>
			<a class="desktop-navigation__link" href="#">Kontakt</a>
		</span>
		{{> @external-link class="desktop-navigation__partnerlogin" content="Partnerlogin" }}
	</div>
</nav>