.services {
		overflow: unset;

	&__inner {
		display: grid;
		grid-template-columns: 240px auto;
		width: 100%;
		padding-left: 0;
		overflow: unset;
	}

	&__sidepanel, .sidepanel {
		width: 240px;
		background-color: $grey-20;
		padding: 32px;
		
		&__sub-navigation {
			position: sticky;
			top: 32px;
		}
		
	}
	
	@media (max-width: 600px) {

	&__inner {
		display: grid;
		grid-template-columns: auto;
		padding-right: 0;
	}

		&__sidepanel {
			display: none;
		}
	}

}