.services {
	overflow: unset !important;
	background-color: $grey-20;
	padding-bottom: 64px;

	&__inner {

		&--right {
			background-color: $white;
		}

		&--center {
			display: grid;
			grid-template-columns: 240px auto;
			width: 100%;
			padding-right: 0;
			overflow: unset;
			padding-right: 0 !important;		}

	}

	&__sidepanel, .sidepanel {
		width: 240px;
		padding: 96px 32px  32px 0;
		
		&__sub-navigation {
			position: sticky;
			top: 96px;
		}
		
	}

	&__content, .content {
		background-color: $white;
		max-width: calc($max-section-width - 240px);
		
		&__item {
			
			& .article__content {
				padding-right: 96px;

			}
		}

	}

	@media (max-width: 950px) {


	}
	
	@media (max-width: 650px) {

		&__inner { 
			
			&--center {
				display: grid;
				grid-template-columns: auto;
				padding-right: 0;
				padding-left: 0 !important;
			}
		
		}

		&__sidepanel {
			display: none;
		}

		&__content {
			padding-right: 0;
		}

	}

}