 <div class="services section">
  <div class="services__inner section__inner">

    <div class="services__background"></div>
		{{> @heading class="services__heading" type='h2' content="References" color="white" showShadow=true }}
    {{> @services-slider class="services__slider" }}

  </div>
</div>