{{#>@section id="services" js="true" tag="section" }}
		
		<div class="services__sidepanel sidepanel">
			{{> @sub-navigation class="sidepanel__sub-navigation" }}
		</div>

		<div class="services__container container">
				{{> @article class="container__article" key="klassische-anlagen" }}	
				{{> @article class="container__article" key="zweitmarkt-policen"}}	
				{{> @article class="container__article" key="immobilien"}}	
				{{> @article class="container__article" key="digital-assets"}}	
		</div>

{{/@section}}