<div class="services js-services section">
	<div class="services__inner section__inner">
		
		<div class="services__sidepanel sidepanel">
			{{> @sub-navigation class="sidepanel__sub-navigation" }}
		</div>

		<div class="services__content content">
			<div class="content__item item">
				{{> @article key="klassische-anlagen" }}	
			</div>
			<div class="content__item item">\
				{{> @article key="zweitmarkt-policen"}}	
			</div>
			<div class="content__item item">\
				{{> @article key="immobilien"}}	
			</div>
			<div class="content__item item">\
				{{> @article key="digital-assets"}}	
			</div>
		</div>

	</div>
</div>