<nav class="desktop-navigation section  js-desktop-navigation ">
    <div class="desktop-navigation__inner desktop-navigation__inner--left section__inner section__inner--right"></div>
    <div class="desktop-navigation__inner desktop-navigation__inner--center section__inner section__inner--center">

        <a class="desktop-navigation__logo-link" href="/">
				{% if dark %}
            <img class="desktop-navigation__logo" src="/media/graphics/logos/logo-kr-consulting-dark.svg" alt="KR Consulting">
						{% else %}
            <img class="desktop-navigation__logo" src="/media/graphics/logos/logo-kr-consulting-light.svg" alt="KR Consulting">
				{% endif %}
        </a>

        <span class="desktop-navigation__link-wrapper">
            <a class="desktop-navigation__link" href="/anlageloesungen">Anlagelösungen</a>
            <a class="desktop-navigation__link" href="/vorsorgeloesungen">Vorsorgelösungen</a>
            <a class="desktop-navigation__link" href="/ueber-uns">Über Uns</a>
            <a class="desktop-navigation__link" href="/kontakt">Kontakt</a>
        </span>

        <a class="external-link  desktop-navigation__partnerlogin" target="_blank" href="https://www.fog-lifesettlements.ch/">
            Partnerlogin
            <i class="external-link__icon icon icon--arrow icon--large"></i>
        </a>
    </div>
    <div class="desktop-navigation__inner desktop-navigation__inner--right section__inner section__inner--left"></div>
</nav>
<div class="desktop-navigation__spacer"></div>