<footer class="footer section  js-footer ">
    <div class="footer__inner footer__inner--left section__inner section__inner--right"></div>
    <div class="footer__inner footer__inner--center section__inner section__inner--center">

        <div class="footer__infos infos">
            <img class="infos__logo" src="/media/graphics/logos/logo-kr-consulting.svg" alt="KR Consulting">
            <address class="infos__address address">
                <h5 class="heading  heading--h5   address__heading js-heading">
                    Adresse
                </h5>
                <p class="paragraph   address__item">
                    Surenthalerstrasse 10
                </p>
                <p class="paragraph   address__item">
                    6210 Sursee
                </p>
            </address>
            <div class="infos__contact contact">
                <h5 class="heading  heading--h5   contact__heading js-heading">
                    Kontakt
                </h5> <a class="link contact__link    contact__link" href="mailto:kretz@krconsulting.ch">
                    kretz@krconsulting.com
                </a> <a class="link contact__link    contact__link" href="tel:+41793026329">
                    +41 79 302 63 29
                </a> <a class="link contact__link    contact__link" href="https://linkedin.com">
                    LinkedIn
                </a>
            </div>
        </div>

        <div class="footer__links links">
            <p class="paragraph   links__item">
                © 2022, KR Consulting GmbH
            </p> <a class="link links__link    links__link" href="#">
                Impressum
            </a> <a class="link links__link    links__link" href="#">
                Datenschutz
            </a>
        </div>

        <div class="footer__partners partners">
            <a class="partners__item" href="#">
                <img class="partners__logo" src="/media/graphics/logos/logo-sbf.svg" alt="">
            </a>
            <a class="partners__item" href="#">
                <img class="partners__logo" src="/media/graphics/logos/logo-schweizer-kaderverband.svg" alt="">
            </a>
            <a class="partners__item" href="#">
                <img class="partners__logo" src="/media/graphics/logos/logo-ombudsstelle.svg" alt="">
            </a>
        </div>

    </div>
    <div class="footer__inner footer__inner--right section__inner section__inner--left"></div>
</footer>