<section class="heroine section  js-heroine ">
    <div class="heroine__inner heroine__inner--left section__inner section__inner--right"></div>
    <div class="heroine__inner heroine__inner--center section__inner section__inner--center">

        <div class="heroine__background background">
            <img class="background__image" src="{{ image }}" alt="Meeting">
            <div class="background__overlay"></div>
        </div>

        <div class="heroine__content content">
            <h1 class="heading  heading--h1   heading--white  content__heading js-heading">
                {{ heading }}
            </h1>
            {% if text %}
            <div class="content__paragraph paragraph">
                <i class="paragraph__icon icon icon--kr-symbol"></i>
                <p class="paragraph__text">{{ text|nl2br }}</p>
            </div>
            {% endif %}
        </div>

    </div>
    <div class="heroine__inner heroine__inner--right section__inner section__inner--left"></div>
</section>