<section class="message-modal  section  js-message-modal  ">
    <div class="message-modal__inner message-modal__inner--left section__inner section__inner--right"></div>
    <div class="message-modal__inner message-modal__inner--center section__inner section__inner--center">

        <h2 class="heading  heading--h2   heading--black  message-modal__header js-heading">
            Kontaktieren Sie uns oder vereinbaren Sie einen Termin
        </h2>
        <form class="message-modal__contact-form contact-form">
            <span class="contact-form__input-text-wrapper">
                <div class="input-text contact-form__input-text contact-form__input-text--lastname">
                    <input class="input-text__input" spellcheck="false" type="text" placeholder=" ">
                    <label class="input-text__label">Nachname*</label>
                    <p class="input-text__error-message">Bitte geben Sie Ihren Namen an</p>
                </div>
                <div class="input-text contact-form__input-text contact-form__input-text--firstname">
                    <input class="input-text__input" spellcheck="false" type="text" placeholder=" ">
                    <label class="input-text__label">Vorame*</label>
                    <p class="input-text__error-message">Bitte geben Sie Ihren Namen an</p>
                </div>
                <div class="input-text contact-form__input-text contact-form__input-text--email">
                    <input class="input-text__input" spellcheck="false" type="text" placeholder=" ">
                    <label class="input-text__label">E-Mail*</label>
                    <p class="input-text__error-message">Bitte geben Sie eine g체ltige E-Mail-Adresse an</p>
                </div>
                <div class="input-text contact-form__input-text contact-form__input-text--phone">
                    <input class="input-text__input" spellcheck="false" type="text" placeholder=" ">
                    <label class="input-text__label">Telefon</label>
                    <p class="input-text__error-message"></p>
                </div>
                <div class="input-text contact-form__input-text contact-form__input-text--company">
                    <input class="input-text__input" spellcheck="false" type="text" placeholder=" ">
                    <label class="input-text__label">Firma</label>
                    <p class="input-text__error-message"></p>
                </div>
                <div class="input-text contact-form__input-text contact-form__input-text--company">
                    <input class="input-text__input" spellcheck="false" type="text" placeholder=" ">
                    <label class="input-text__label">Wunschtermin</label>
                    <p class="input-text__error-message"></p>
                </div>
            </span>
            <div class="input-checkbox contact-form__input-checkbox">
                <span class='input-checkbox__option'>
                    <input class='input-checkbox__input' name="course" id="course" type='checkbox' value="" />
                    <label class="input-checkbox__label" for="course">Ich interessiere mich f체r eine Schulung</label>
                </span>
            </div>
            <div class="input-textarea contact-form__input-textarea contact-form__input-textarea--message">
                <textarea class="input-textarea__input" spellcheck="false" rows="4" placeholder=" "></textarea>
                <label class="input-textarea__label">Erz채hlen Sie uns von Ihrem Projekt*</label>
                <p class="input-textarea__error-message">Bitte verfassen Sie eine Nachricht</p>
            </div> <span class="contact-form__disclaimer disclaimer">
                <p class="disclaimer__text">
                    Mit dem Senden sind Sie mit unserer <a class="disclaimer__link">Datenschutzerkl채rung</a> einverstanden.
                </p>
            </span>
            <button class="button contact-form__input-submit  button--blue">
                <span class="button__text">Senden</span>
                <i class="button__icon icon icon--arrow"></i>
                <figure class="button__overlay"></figure>
            </button>
            <div class="contact-form__status-message status-message">
                <p class="status-message--success">Ihre Nachricht wurde versendet.</p>
                <p class="status-message--error">Ein Fehler ist aufgetreten - die Nachricht konnte nicht gesendet werden.</p>
            </div>
        </form>

        <div class="message-modal__infos infos">
            <address class="infos__address address">
                <h5 class="heading  heading--h5   address__heading js-heading">
                    Adresse
                </h5>
                <p class="paragraph   address__item">
                    Surenthalerstrasse 10
                </p>
                <p class="paragraph   address__item">
                    6210 Sursee
                </p>
            </address>
            <div class="infos__connection connection">
                <h5 class="heading  heading--h5   connection__heading js-heading">
                    Kontakt
                </h5> <a class="link connection__link    connection__link" href="mailto:kretz@krconsulting.ch">
                    kretz@krconsulting.com
                </a> <a class="link connection__link    connection__link" href="tel:+41793026329">
                    +41 79 302 63 29
                </a>
            </div>
        </div>
        <i class="message-modal__close-icon icon icon--close"></i>

    </div>
    <div class="message-modal__inner message-modal__inner--right section__inner section__inner--left"></div>
</section>