<nav class="mobile-navigation section  js-mobile-navigation ">
    <div class="mobile-navigation__inner mobile-navigation__inner--left section__inner section__inner--right"></div>
    <div class="mobile-navigation__inner mobile-navigation__inner--center section__inner section__inner--center">
        <div class="mobile-navigation__bar mobile-navigation__bar--transparent bar">
            <div class="bar__inner">
							<a class="bar__logo-link" href="/">
								<img class="bar__logo" src="/media/graphics/logos/logo-kr-consulting-small-light.svg" alt="KR Consulting">
							</a>
                <div class="bar__hamburger"></div>
            </div>
        </div>
        <div class="mobile-navigation__menu menu">
            <a class="menu__link" href="/anlageberatungen">Anlageberatungen</a>
            <a class="menu__link" href="/vorsorgeloesungen">Vorsorgelösungen</a>
            <a class="menu__link" href="/ueber-uns">Über Uns</a>
            <a class="menu__link" href="/kontakt">Kontakt</a>
        </div>
    </div>
    <div class="mobile-navigation__inner mobile-navigation__inner--right section__inner section__inner--left"></div>
</nav>
<div class="mobile-navigation__spacer"></div>