{% set servicesOverview = craft.entries.section('servicesOverview').one() %}

<section class="services-overview section  js-services-overview ">
    <div class="services-overview__inner services-overview__inner--left section__inner section__inner--right"></div>
    <div class="services-overview__inner services-overview__inner--center section__inner section__inner--center">
        <div class="services-overview__background"></div>
        <h2 class="heading  heading--h2   heading--white  services-overview__heading js-heading">
            {{ servicesOverview.servicesOverviewHeading }}
        </h2>
        <div class="services-slider js-slider services__slider">
            {% include "02_molecules/services-slider" %}
            <div class="services-slider__arrows arrows">
                <i class="arrows__icon arrows__icon--left icon icon--arrow swiper-button-prev"></i>
                <i class="arrows__icon arrows__icon--right icon icon--arrow swiper-button-next"></i>
            </div>
        </div>
    </div>
    <div class="services-overview__inner services-overview__inner--right section__inner section__inner--left"></div>
</section>
