{% set testimonials = craft.entries.section('testimonials').one() %}

<section class="testimonials section  js-testimonials ">
    <div class="testimonials__inner testimonials__inner--left section__inner section__inner--right"></div>
    <div class="testimonials__inner testimonials__inner--center section__inner section__inner--center">
        <img class="testimonials__symbol" src="/media/graphics/logos/logo-kr-consulting-symbol-light.svg" alt="">
        <div class="quote testimonials__quote">
            <img class="quote__avatar" src="/media/images/avatars/roger-kretz.webp" alt="">
            <div class="quote__content content">
                <i class="content__icon icon icon--quote"></i>
                <p class="content__text">Egal ob Investments in Immobilien, interessante Zweitmarkt-Policen oder klassische Anlagen, wir empfehlen nur, was wir selbst auch kaufen. Diese Erfahrungen und dieses Wissen stecken in unseren bewährten Anlagelösungen. Und diese machen wir unseren Kundinnen und Kunden zugänglich – und zwar allen.</p>
                <span class="content__author author">
                    <p class="author__name">Max Mustermann</p>
                    <p class="author__separator">-</p>
                    <p class="author__role">Moonshot Investor Network</p>
                </span>
            </div>
        </div>
    </div>
    <div class="testimonials__inner testimonials__inner--right section__inner section__inner--left"></div>
</section>