/* COLORS */
$white: #FFFFFF;
$black: #3F4756;
$grey-20: #FBFBF7;
$grey-80: #3F4756;
$red-100: #D40D0D;
$blue-40: #A6D0FF;
$blue-60: #4D7CB7;
$blue-80: #004C82;
$blue-100: #002757;

// GRADIENTS 
$blue-gradient: linear-gradient(0deg, rgba(0, 76, 130, 0.8), rgba(0, 76, 130, 0.8));

// LAYOUT CONFIGS
$padding-page-vertical-big: 96px; // BIGGER THAN 950 PIXELS
$padding-page-vertical-medium: 64px; // SMALLER THAN 950 PIXELS
$padding-page-vertical-small: 32px; // SMALLER THAN 650 PIXELS