<section class="heroine section">
	<div class="heroine__inner section__inner">
		<div class="heroine__background background">
      	<img class="background__image" src="/media/images/heros/pen.webp" alt="Meeting" >
        <div class="background__overlay"></div>
		</div>

		<div class="heroine__content content">
			  {{> @heading class="content__heading" type="h1" looklike="h2" color="white" content="Anlageberatungen" }}
				<div class="content__paragraph paragraph">
					<i class="paragraph__icon icon icon--kr-symbol"></i>
					<p class="paragraph__text">Für viele Arbeitnehmende ist die zweite Säule der Eckpfeiler ihrer Altersvorsorge. Die Pensionskasse sorgt dafür, dass sie auch im Alter auf den gewohnten Lebensstandard zählen können. Bereits eine minimale Veränderung des Zinsniveaus kann zu einer wesentlichen Erhöhung der Rentenleistung nach der Pensionierung führen.</p>
				</div>
		</div>
	</div>
</section>