<section class="testimonials section">
    <div class="testimonials__inner section__inner">

        <img class="testimonials__symbol" src="/media/graphics/logos/logo-kr-consulting-symbol-light.svg" alt="">
        {{> @quote class="testimonials__quote" }}
    </div>
</section>