.testimonials {
	background-color: transparentize($beige-100, 0.6);
	overflow: visible;
	position: relative;

    &__inner {
        padding-top: 80px;
        padding-bottom: 120px;
    }

    &__symbol {
        height: 100%;
        position: absolute;
        right:  calc(100% - 240px);
        top: 10%;
        z-index: 5;
    }

    &__quote {
        margin-left: 160px;
				z-index: 10;
				position: relative;
    }

    @media (max-width: 950px) {

        &__quote {
            margin-left: 80px;
        }

    }

    @media (max-width: 650px) {

        &__quote {
            margin-left: 0;
        }
    }

}