.testimonials {
	background-color: $grey-20;
	overflow: visible;
    
    &__inner {
        
        &--center {
            position: relative;
            padding-top: 80px;
            padding-bottom: 120px;
        }

    }

    &__symbol {
        height: 100%;
        position: absolute;
        left: 60%;
        top: 0;
        z-index: 5;
    }

    &__quote {
        margin-left: 160px;
				z-index: 10;
				position: relative;
    }

    @media (max-width: 950px) {

        &__quote {
            margin-left: 80px;
        }

    }

    @media (max-width: 700px) {

    &__symbol {
            left: -300px;
        }
    }

    @media (max-width: 650px) {

        &__quote {
            margin-left: 0;
        }
    }

}