<div class="follower js-follower follower--hidden">
    <i class="follower__icon icon icon--chat icon--large"></i>
    <p class="follower__text" data-trigger="message-modal">Termin Vereinbaren</p>
</div>