<div class="input-text {{ class }}">
    <input class="input-text__input" spellcheck="false" type="text" placeholder=" "/>
    <label class="input-text__label">{{ label }}</label>
    <p class="input-text__error-message">{{ error-text }}</p>
</div>
