.about-us {

	&__inner {

		&--center {
			padding: 0 !important;
			padding-left: 0 !important;
		}
		
	} 

	
	&__team-member, .team-member {

		&:not(:last-child) {
			padding-bottom: 120px;
		}

		&:first-child {
			background-color: $grey-20;
		}
		
	}

	@media (max-width: 750px) {

		&__team-member {

			&:not(:last-child) {
				padding-bottom: 48px;	
			}

		}

	}

}
