<section class="about-us section">
	<div class="about-us__inner section__inner">
		{{> @team-member class="about-us__team-member" }}
		{{> @team-member class="about-us__team-member" reversed="true" }}
	</div> 
</section>
