<nav class="sub-navigation {{#if color }} sub-navigation--{{ color }} {{/if}}">
    <a class="sub-navigation__item" src="#">Klassische Anlagen</a>
    <a class="sub-navigation__item" src="#">Zweitmarkt-Policen</a>
    <a class="sub-navigation__item" src="#">Immobilien</a>
    <a class="sub-navigation__item" src="#">Digital Assets</a>
</nav>