<nav class="sub-navigation {{ class }} {{#if color }} sub-navigation--{{ color }} {{/if}}">
    <a class="sub-navigation__item" href="./#klassische-anlagen">Klassische Anlagen</a>
    <a class="sub-navigation__item" href="./#zweitmarkt-policen">Zweitmarkt-Policen</a>
    <a class="sub-navigation__item" href="./#immobilien">Immobilien</a>
    <a class="sub-navigation__item" href="./#digital-assets">Digital Assets</a>
</nav>