

<div class="counters {{ class }}">
    <div class="counters__item item">
        <span class="item__wrapper">
            <i class="item__icon icon icon--kr-symbol"></i>
            {{> @paragraph class="item__value" color="blue" content="25" style="extrabig"}}
            {{> @paragraph class="item__plus" color="blue" content="+" style="extrabig"}}
        </span>
        {{> @paragraph class="item__label" color="blue" content="Erfahrung"}}
    </div>    
    <div class="counters__item item">
        <span class="item__wrapper">
            <i class="item__icon icon icon--kr-symbol"></i>
            {{> @paragraph class="item__value" color="blue" content="100" style="extrabig"}}
            {{> @paragraph class="item__plus" color="blue" content="+" style="extrabig"}}
        </span>
        {{> @paragraph class="item__label" color="blue" content="Treue Kunden"}}
    </div>
    <div class="counters__item item">
        <span class="item__wrapper">
            <i class="item__icon icon icon--kr-symbol"></i>
            {{> @paragraph class="item__value" color="blue" content="50" style="extrabig"}}
            {{> @paragraph class="item__plus" color="blue" content="+" style="extrabig"}}
        </span>
        {{> @paragraph class="item__label" color="blue" content="Schulungen/Jahr"}}
    </div>

</div>