<section class="course-intro">
    <div class="course-intro__inner">

        <div class="course-intro__content content">
            {{> @article class="content__article" }}
            {{> @quote class="content__quote" }}   
            {{> @long-copy class="content__long-copy" }}
            {{> @article class="content__article" }}
        </div>

        <div class="course-intro__sidepanel sidepanel">
            {{> @contact-card class="sidepanel__contact-card" }}
        </div>

    </div>
</section>