{{#>@section id="course-intro" js="false" tag="section" }}

    <div class="course-intro__container container">
        {{> @article class="container__article" }}
        {{> @quote class="container__quote quote--no-avatar" }}   
        {{> @long-copy class="container__long-copy" }}
        {{> @article class="container__article" }}
    </div>

    <div class="course-intro__sidepanel sidepanel">
        {{> @contact-card class="sidepanel__contact-card" }}
    </div>

{{/@section}}