.course-intro {
    overflow: unset;
    background-color: $grey-20;
    overflow: unset !important;
    
    
    &__inner {

        &--left {
            background-color: $white;
        }
        
        &--center {
            display: grid;
            grid-template-columns: auto 360px;
            padding-right: 0 !important;
            overflow: unset;
            justify-content: center;
            background-color: $white;
        }

    }

    &__sidepanel, .sidepanel {
        width: 360px;
        padding: 96px 32px 32px 32px;
        background-color: $grey-20;

        &__contact-card {
            position: sticky;
            top: 96px;
        }

    }

    &__content, .content {
        background-color: $white;
        max-width: calc($max-section-width - 360px);
        
        &__article, .article {
            margin-bottom: 96px;
            padding-left: 0;

            &__content {
                padding-right: 64px;
                padding-left: 0;
            }

        }

        &__quote {

        }

        &__quote, .quote {
            margin-bottom: 96px;

            &__content, .content {
                padding-right: 64px;

                &__text, &__author {
                    padding-left: unset;
                }

            }

        }

        &__long-copy, .long-copy {

            &__inner {
                padding-left: 0;
            }

        }

        & > * {
            padding-left: 96px;
        }

    }

    @media (max-width: 950px) {

        &__inner {

            &--center {
                display: grid;
                grid-template-columns: auto;
                padding-right: 0;
                padding-left: 0 !important;
            }

        }

        &__sidepanel {
            display: none;
        }

        &__content, .content {
            
            &__article, .article {

                &__content {
                    padding-right: 64px;
                    padding-left: 64px;
                }

            }

            & > * {
                padding-left: 64px;
            }

        }

    }

    @media (max-width: 650px) {

        &__content, .content {

            &__article, .article {

                &__content {
                    padding-right: 32px;
                    padding-left: 32px;
                }

            }
            
            & > * {
                padding-left: 32px;
            }       
            
        }

    }

}