.course-intro {
    overflow: unset;
    overflow: unset !important;

    &__inner {
        &--right {
            background-color: $grey-20;
        }

        &--center {
            display: grid;
            grid-template-columns: auto 360px;
            margin-right: 96px;
            overflow: unset;
            padding-right: 0 !important;
            justify-content: center;
        }
    }

    &__sidepanel,
    .sidepanel {
        width: 360px;
        padding: 32px 96px 32px 32px;
        background-color: $grey-20;

        &__contact-card {
            position: sticky;
            top: 32px;
        }
    }

    &__container,
    .container {
        background-color: $white;
        max-width: calc($max-section-width - 360px);

        &__article,
        .article {
            margin-bottom: 96px;

            &__content,
            &__heading {
                padding-right: 64px;
            }
        }

        &__quote,
        .quote {
            margin-bottom: 96px;
        }
    }

    @media (max-width: 950px) {
        &__inner {
            &--center {
                display: grid;
                grid-template-columns: auto;
                padding-right: 0 !important;
                padding-left: 0 !important;
            }
        }

        &__sidepanel {
            display: none;
        }

        &__container,
        .container {
            &__article,
            .article {
                margin-bottom: 64px;

                &__heading {
                    padding-right: 64px;
                    padding-left: 64px;
                }

                &__content {
                    padding-right: 64px;
                    padding-left: 64px;
                }
            }

            &__quote,
            .quote {
                padding-right: 64px;
                padding-left: 64px;
            }
        }
    }

    @media (max-width: 650px) {
        &__container,
        .container {
            &__article,
            .article {
                &__heading {
                    padding-right: 32px;
                    padding-left: 32px;
                }

                &__content {
                    padding-right: 32px;
                    padding-left: 32px;
                }
            }

            &__quote,
            .quote {
                padding-right: 32px;
                padding-left: 32px;
            }
        }
    }
}
