<div class="quote">
    <i class="quote__icon icon icon--quote"></i>
    <p class="quote__text">Egal ob Investments in Immobilien, interessante Zweitmarkt-Policen oder klassische Anlagen, wir empfehlen nur, was wir selbst auch kaufen. Diese Erfahrungen und dieses Wissen stecken in unseren bewährten Anlagelösungen. Und diese machen wir unseren Kundinnen und Kunden zugänglich – und zwar allen.</p>
    <span class="quote__author author">
        <p class="author__name">Max Mustermann</p>
        <p class="author__separator">-</p>
        <p class="author__role">Moonshot Investor Network</p>
    </span>
</div>