<div class="testimonial-slider js-testimonial-slider">
    <div class="testimonial-slider__slider slider swiper-wrapper">
        <div class="slider__item item cell swiper-slide" href="#" data-key="1">
            <img class="item__avatar" src="/media/images/avatars/roger-kretz.webp" alt=""/>
            <div class="item__content content">
                <i class="content__icon icon icon--quote"></i>
                <p class="content__text">EGAL ob Investments in Immobilien, interessante Zweitmarkt-Policen oder klassische Anlagen, wir empfehlen nur, was wir selbst auch kaufen. Diese Erfahrungen und dieses Wissen stecken in unseren bewährten Anlagelösungen. Und diese machen wir unseren Kundinnen und Kunden zugänglich – und zwar allen.</p>
                <span class="content__author author">
                    <p class="author__name">Max Mustermann</p>
                    <p class="author__separator">-</p>
                    <p class="author__role">Moonshot Investor Network</p>
                </span>
            </div>
        </div>
        <div class="slider__item item cell swiper-slide" href="#" data-key="1">
            <img class="item__avatar" src="/media/images/avatars/roger-kretz.webp" alt=""/>
            <div class="item__content content">
                <i class="content__icon icon icon--quote"></i>
                <p class="content__text">Egal ob Investments in Immobilien, interessante Zweitmarkt-Policen oder klassische Anlagen, wir empfehlen nur, was wir selbst auch kaufen. Diese Erfahrungen und dieses Wissen stecken in unseren bewährten Anlagelösungen. Und diese machen wir unseren Kundinnen und Kunden zugänglich – und zwar allen.</p>
                <span class="content__author author">
                    <p class="author__name">Max Mustermann</p>
                    <p class="author__separator">-</p>
                    <p class="author__role">Moonshot Investor Network</p>
                </span>
            </div>
        </div>
        <div class="slider__item item cell swiper-slide" href="#" data-key="1">
            <img class="item__avatar" src="/media/images/avatars/roger-kretz.webp" alt=""/>
            <div class="item__content content">
                <i class="content__icon icon icon--quote"></i>
                <p class="content__text">Egal ob Investments in Immobilien, interessante Zweitmarkt-Policen oder klassische Anlagen, wir empfehlen nur, was wir selbst auch kaufen. Diese Erfahrungen und dieses Wissen stecken in unseren bewährten Anlagelösungen. Und diese machen wir unseren Kundinnen und Kunden zugänglich – und zwar allen.</p>
                <span class="content__author author">
                    <p class="author__name">Max Mustermann</p>
                    <p class="author__separator">-</p>
                    <p class="author__role">Moonshot Investor Network</p>
                </span>
            </div>
        </div>
    </div>
    <div class="testimonial-slider__navigation navigation">
        <i class="navigation__arrow arrow--previous icon icon--arrow"></i>
        <p class="navigation__counter counter--current">01</p>
        <figure class="navigation__line"></figure>
        <p class="navigation__counter counter--total">04</p>
        <i class="navigation__arrow arrow--next icon icon--arrow"></i>
    </div>
</div>
