<div class="contact-teaser {{ class }}">
	{{> @paragraph class="contact-teaser__text" color="black" content="KR Consulting hilft Ihnen mit langjähriger Erfahrung und umfassender Expertise, damit Sie jederzeit optimal investiert sind. Gerne nehmen wir uns Zeit, Sie, Ihre Wünsche und individuellen Bedürfnisse kennenzulernen – persönlich, am Tisch, bei einer guten Tasse Kaffee." }}
	<div class="contact-teaser__contact-details contact-details">
		<div class="contact-details__item item">
			{{> @heading class="item__heading" type="h5" content="Schreiben Sie uns" color="black" }}
			{{> @animated-link class="item__text" color="blue" content="kretz@krconsulting.ch" }}
		</div>
		<div class="contact-details__item item">
			{{> @heading class="item__heading" type="h5" content="Rufen Sie uns an" color="black" }}
			{{> @animated-link class="item__text" color="blue" content="+41 79 302 63 29" }}
		</div>
	</div>
	{{> @button class="contact-teaser__button" content="Termin vereinbaren" color="blue" }}
</div>