<button class="button {{ class }} {{#if color }} button--{{ color }}" {{/if}} {{#if trigger }} data-trigger="{{ trigger }}" {{/if}}>
    <span class="button__text">{{ content }}</span>
    <i class="button__icon icon icon--arrow"></i>
    <figure class="button__overlay"></figure>
</button>
