<div class="contact-shortcuts js-contact-shortcuts contact-shortcuts--hidden">
    <a class="contact-shortcuts__button button--appointment" href="#" data-trigger="message-modal">Termin</a>
    <a class="contact-shortcuts__button button--call" href="tel:{{ connection.connectionPhone|replace(' ', '') }}">Anrufen</a>
</div>