<div class="team-member about-us__team-member ">
            <img class="team-member__image" src="/media/images/team-members/roger-kretz.webp" alt="Roger Kretz" />
            <div class="team-member__infos infos">
                <h2 class="heading  heading--h2   infos__heading js-heading">
                    Roger Kretz
                </h2>
                <p class="paragraph  paragraph--blue   paragraph--bold  infos__subheading">
                    Gründer und Inhaber
                </p>
                <p class="paragraph  paragraph--black   infos__text">
                    Mit bald 25 Jahren Erfahrung in der Finanzbranche, 14 davon bei einem der grössten bankenunabhängigen Vermögensverwalter, ist Roger Kretz ein ausgewiesener Berater und Fachspezialist für Vermögensanlagen und der Beruflichen Vorsorge. Seit Sommer 2019 ist Roger Kretz selbständig. Er fungiert als Berater und Begleiter bei allen Fragen rund um die Entscheidungen der Vermögensanlagen sowie der Beruflichen Vorsorge.
                </p> <a class="link infos__email  link--blue    link--bold  infos__email" href="mailto:kretz@krconsulting.ch">
                    kretz@krconsulting.ch
                </a>
            </div>
</div>