.article {
    
    &__image {
        width: 100%;
        height: 240px;
        margin-bottom: 40px;
        object-fit: cover;
    }

	&__wrapper {
		// padding: 32px;
        display: grid;
        grid-template-columns: 120px 1fr;
        grid-template-areas: 
        "subheading content"; 
        grid-gap: 48px;
        max-width: 800px;
		}

    &__label {
        margin-top: 16px;
    }

    &__content, .content {
        display: flex;
        flex-direction: column;
        padding-right: 64px;

        &__subheading {
            // display: none;
            margin-bottom: 40px;
        }

        &__peaker {
            margin-bottom: 16px;
        }

        &__heading {
        }

        &__list {
            margin-bottom: 40px;
        }

        &__text {
            margin-bottom: 40px;
        }

    }

    &--no-label {

        & .article__wrapper {    
            grid-template-columns: 1fr;
            grid-template-areas: 
            "content";
        }

        & .article__label {
            display: none;
        }

    }



    @media (max-width: 950px) {

		&__wrapper {
            display: grid;
            grid-template-columns: auto;
            grid-template-areas: 
            "subheading" 
            "content"; 
            grid-gap: 0;
            padding-left: 64px;
            padding-right: 64px;
            max-width
		}

        &__label {
            display: none;
        }

        &__content, .content {
        // padding-right: 64px;
        // padding-left: 64px;

            &__subheading {
                display: block;
            }

            
            &__heading {
                margin-bottom: 8px;
            }
            
            &__subheading {
                margin-bottom: 40px;
            }
            
            &__text {
                margin-bottom: 40px;
            }
            
        }

    }

    @media (max-width: 650px) {


        &__content, .content {
        padding-right: 32px;
        padding-left: 32px;

         
        }
    
    }

}