.article {
   display: grid;
   grid-template-rows: auto auto auto auto;
   grid-template-columns: 120px 1fr;
   grid-template-areas: 
   "image image"
    "heading heading"
    "subheading text" 
    ". outro"; 
    grid-gap: 24px;

    &__image {
        grid-area: image;
        width: 100%;
        height: 240px;
        object-fit: cover;
    }

    &__heading {
        grid-area: heading;
    }

    &__subheading {
        grid-area: subheading;
    }

    &__text {
        grid-area: text;
    }
    
    &__outro {
        grid-area: outro;
    }

    @media( max-width: 550px) {
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "heading"
        "subheading" 
        "text" 
        "outro"; 
        grid-gap: 0;
        
        &__subheading {
            margin-bottom: 24px;
        }

        &__text {
            margin-bottom: 24px;
        }

    }

}