<div class="article" {{#if key }} id="{{ key }}" {{/if}}>
    <img class="article__image" src="/media/images/services/classic-investments.webp" alt="">
		<div class="article__content">
			{{> @heading class="article__heading" type="h2" content="Klassische Anlagen" }}
			{{> @paragraph class="article__subheading" content="Traditionell & bewährt" color="blue" style="bold" }}
			{{> @paragraph class="article__text" content="Wir bieten eine umfassende Anlageberatung, die auf Ihre Bedürfnisse, Wünsche und Lebensziele zugeschnitten ist. Gemeinsam mit unserem langjährigen Partner beraten wir Sie aktiv und weitsichtig, damit Sie Marktchancen für sich nutzen und zielgerichtet investieren können. Dabei steht ein überschaubares Risiko mithilfe einer klassischen Portfoliodiversifikation im Vordergrund. Ganz dem Zeitgeist entsprechend bieten wir auch nachhaltige Geldanlagen an, die Mehrwert für Wirtschaft, Gesellschaft und Umwelt schaffen. Übrigens, Anlegen ist bei uns bereits ab 50 Franken im Monat möglich. Wir freuen uns Sie, Ihre Bedürfnisse und Träume bei einem persönlichen Gespräch kennenzulernen." color="black" }}
			{{> @paragraph class="article__outro" content="Wir freuen uns Sie, Ihre Bedürfnisse und Träume bei einem persönlichen Gespräch kennenzulernen." color="black" style="bold" }}
		</div>
</div>