{{#>@section id="team-member" js="false" tag="section" }}
<div class="team-member__member member">
    <img class="member__image" src="/media/images/team-members/roger-kretz.webp" alt="Roger Kretz" />
    <div class="member__infos infos">
        {{> @heading class="infos__heading" type="h2" content="Roger Kretz" }}
        {{> @paragraph class="infos__subheading" content="Gründer und Inhaber" color="blue" style="bold" }}
        {{> @paragraph class="infos__text" content="Mit bald 25 Jahren Erfahrung in der Finanzbranche, 14 davon bei einem der grössten bankenunabhängigen Vermögensverwalter, ist Roger Kretz ein ausgewiesener Berater und Fachspezialist für Vermögensanlagen und der Beruflichen Vorsorge. Seit Sommer 2019 ist Roger Kretz selbständig. Er fungiert als Berater und Begleiter bei allen Fragen rund um die Entscheidungen der Vermögensanlagen sowie der Beruflichen Vorsorge." color="black" }}
        {{> @link class="infos__email" content="kretz@krconsulting.ch" color="blue" style="bold" href="mailto:kretz@krconsulting.ch" }}
    </div>
</div>
<div class="team-member__member member {{ class }}  member--reverseds">
    <img class="member__image" src="/media/images/team-members/roger-kretz.webp" alt="Roger Kretz" />
    <div class="member__infos infos">
        {{> @heading class="infos__heading" type="h2" content="Roger Kretz" }}
        {{> @paragraph class="infos__subheading" content="Gründer und Inhaber" color="blue" style="bold" }}
        {{> @paragraph class="infos__text" content="Mit bald 25 Jahren Erfahrung in der Finanzbranche, 14 davon bei einem der grössten bankenunabhängigen Vermögensverwalter, ist Roger Kretz ein ausgewiesener Berater und Fachspezialist für Vermögensanlagen und der Beruflichen Vorsorge. Seit Sommer 2019 ist Roger Kretz selbständig. Er fungiert als Berater und Begleiter bei allen Fragen rund um die Entscheidungen der Vermögensanlagen sowie der Beruflichen Vorsorge." color="black" }}
        {{> @link class="infos__email" content="kretz@krconsulting.ch" color="blue" style="bold" href="mailto:kretz@krconsulting.ch" }}
    </div>
</div>

{{/@section}}