<div class="input-textarea {{ class }}">
    <textarea class="input-textarea__input" spellcheck="false" rows="4" placeholder=" "></textarea>
    <label class="input-textarea__label">{{ label }}</label>
    <p class="input-textarea__error-message">{{ error-text }}</p>
</div>
